* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary_color: #FC9D44;
    --secondary_color: #386CFC;
    --white_color: #F5F5F5;
    --black_color: #131417;
}

/*-----------profil -------------  */

.profil_h2 {
    text-transform: uppercase;
}

.profil_menu {
    display: none;
}

.profil_diapo__banniere {
    /* width: 100%; */
    margin: auto;
    position: relative;
    height: 450px
}
.profil_menus{
    position: absolute;
    z-index: 1;
    /* text-align: center; */
    margin-left: auto;
    transform: translate(0%, 50%);
    width: 40px;
}

/* description profil */
.profil_description {
    color: #FC9D44;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    margin: 20px;
    transform: translate(00%, -120%);
    height: 170px;
}

.profil_description p:last-of-type,
.profil_nav__banniere {
    display: none;
}

.profil_diapo__profil {
    /* Positionnement  */
    border: 4px solid #386CFC;
    border-radius: 15px 15px 0px 0px;
    width: 170px;
    margin-right: 20px;
}

.profil_texte__profil {
    line-height: 1.5;
}

/* _____________________________________________________________ */
/* main */
/* les articles */
.profil_detail article {
    background-color: var(--secondary_color);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 20px;
    color: white;
    line-height: 2;
}

.profil_detail li {
    list-style-type: none;
    display: inline;
    justify-content: space-around;
    line-height: 1;
}

/* sport */
/* 
#profil_symbol{
    color: white;
} */

.profil_symbol__sport {
    color: white;
    display: flex;
    flex-direction: column;
    width: 30px;
}

.profil_li {
    display: inline-block;
    margin: 0 2rem;
}

/* defis */
.profil_defis {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.profil_defis p{
    margin: 0  1rem 0 0;
}

/* progression */
.profil_progression #file {
    padding-right: 1px;
    font-size: 1rem;
    width: 100%;
}

.profil_progression p {
    color: #FC9D44;
    text-align: center;
}

.profil_progression__niveau {
    width: 70px;
    margin: 20px 50%;
    transform: translate(-50%, 0%);
}

.profil_niveau {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

/* bouton créer */
.profil_bouton__creer {
    background-color: white;
    width: 99%;
    height: 40px;
    border: 4px solid #FC9D44;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 1px 2px 0px rgb(238, 235, 235);
}

.profil_bouton__creer a {
    color: #FC9D44;
    text-transform: uppercase;
    font-weight: bold;
}


/* 
Media queries
*/
/* 750px => tablette paysage || desktop */
@media screen and (min-width: 750px) {

    /* menu */
    .profil_menus{
        display: none;
        
    }
    .profil_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    .profil_menu__logo {
        width: 120px
    }

    .profil_menu li {
        display: inline;
        padding: 10px;
        margin: 0 1rem;
    }

    .profil_menu a {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary_color);
    }

    .profil_menu__logos  {
        width: 20px;
    }

    /* banniere */
    .profil_diapo__banniere {
        width: 100%;
    }

    .profil_description {
        width: 65%;
    }

    .profil_description p:last-of-type {
        display: flex;
    }

    /*  nav banniere */
    .profil_nav__banniere {
        background-color: #386CFC;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .profil_nav__banniere a {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        margin: 0 1rem;
        padding: 1.3rem;
    }

    .profil_nav__banniere a:hover {
        color: #FC9D44;
    }

    /* articles */
    .profil_detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        box-shadow: 2px 6px;
    }
}




/* formulaire */