

h1 {
    color:rgb(179, 126, 12);
    font-size: 18px;
}

h2{
    background-color: bisq;
}

h3
{
 color:rgb(58, 20, 224);
}

h4{
    color: blue;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding:1rem;
}

