:root  {
    --primary_color: #FC9D44;
    --secondary_color: #386CFC;
    --white_color: #F5F5F5;
    --black_color: #131417;
}

*{
    text-decoration: none;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
 } 

header{
    width: 100vw;
}

img {
    width: 100%;
}

/* -------------HEADER----------------- */

/* Navbar */

#logo {
    width: 129px;
}

#account {
    color: var(--white_color);
    background-color: var(--secondary_color);
    font-size: 17px;
    font-weight: bold;
    text-align: center; 
    padding: 16px 16px;
    border-radius: 10px; 
}

/* diaporama */

#diapo{
    height: 100vh;
    background-color: var(--white_color);
}

#diapo__text{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    text-align: left;
    color: rgb(245, 243, 238);
}

.diapo__image{
    height: 100vh;
    /*  adaptation de l'image à son conteneur */
   object-fit: cover; /*quand l'image est dans le HTML*/
   object-position: center;
   opacity: 1;
}


/* --------------body --------------------*/

#diapo_gamification{
    height: 100%;
    background-color: var(--white_color);
}



/* --------------footer --------------------*/


footer section article {
    display: inline-block;
    padding:5%;
    margin-left: 5%;
    text-decoration: none;
}

.footerColor{
    background-color: #fc9d44;
    color: black;

}

.footerColor li{
    display: inline-block;
    text-decoration: none;
}

.colorSection{
    background-color: #386cfc;
    color: black;
}


.diapo__event{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    color: rgb(245, 243, 238);
}

#bleu{
    color: #386cfc;
}

#blanc{
    color: white;
}

#orange{
    color: #fc9d44;
}

#contener{
    display: flex;
    text-align: center;
}

#page2{
    margin-top: 5%; 
}

#image{
    height: 100%;
}

#button{
    background-color: #386cfc;
    border-radius: 7%;
    padding : 2%;
    color: #fc9d44;
}

/* **********************
*      page event       *
*************************/
.diapo{
    height: 100vh;
    background-color: #386cfc; 
    text-align: center; 
}

.diapo__image{
    height: 100vh;
    width: 100%;
    /*  adaptation de l'image à son conteneur */
   object-fit: cover; /*quand l'image est dans le HTML*/
   object-position: center;
   opacity: 1;
}

.diapo__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    text-align: center;
    color: rgb(245, 243, 238);
}

.diapo__event{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    color: rgb(245, 243, 238);
}

.event__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 2%;
}

.event__member{
    margin: 0;
    background-color: #386cfc;
    border-radius: 2%;
    color: white;
}

.event__picture{
    width: 100.7%;
}

.event__picture + figcaption{
    text-align: center;
    text-transform: capitalize;
}

#sponsor{
    display: flex;
    text-align: center;
    /* margin-left: 15%; */
}

#sponsor_ecart{
    margin-left: 8%;
}

#sponsor_image{
    max-width: 80%;
    margin-left: 2%;
}

/* **********************
*      page blog        *
*************************/










