 * {
     font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 form[name=registration_form] input::placeholder {
     color: #386CFC;
     text-align: center;
     font-weight: bold;
 }

 form[name=registration_form] input{
    width: 90%;
    height: 35px;
    border: 1px solid #386CFC;
    box-sizing: border-box;
    border-radius: 10px;
}

#registration_form_birthDate_month{
     color: #386CFC;
 }
 #registration_form_birthDate_day{
    color: #386CFC;
}
#registration_form_birthDate_year{
    color: #386CFC;
}
#registration_form_gender{
    color: #386CFC;
}

 .titre {
     color: #FC9D44;
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
     line-height: 17px;
 }

 .entete {
     height: 80px;
     display: flex;
     flex-direction: column;
 }

 .registration_formulaire {
     color: #386CFC;
 }

 .btn_formulaire {
     background: #F79C3C;
     border: 1px solid #18A0FB;
     box-sizing: border-box;
     border-radius: 10px;
 }

 .rapide_facile{
    transform: translate(-3%,0%);
 }

 @media screen and (min-width: 400px) {
     .main_inscr {
         width: 30%;
     }
 }

 @media screen and (max-width: 400px) {
    .logo_sportin{
        transform: translate(-130%,-50%);
    }
 }