{% extends 'parent.html.twig' %}

{% block titre1 %}
<section>
<div class="essai">
<h3 >Ceci ne ressemble à aucun autre réseau social...</h3>
<h1>Transforme tes <span>séances de sport</span> en un <span>jeu extraordinaire</span> !</h1>
<h1></h1>
<p>SportIn est le premier réseau social de jeu spécialisé dans le sport.</p>
<p>Gagne des points d'expérience et monte du niveau en lançant des défis à tes amis ou participe et organise tes propres événements.</p>
</div>
</section>
<h1>Page contact</h1>
{% endblock %}

{% block commentaire1 %}
<p>Formulaire de contact à venir</p>
{% endblock %}

{% block photo1 %}
<img src="{{ asset('images/photo1.jpg') }}" alt="photo1">
{% endblock %}