{% extends 'parent.html.twig' %}

{% block titre1 %}
<section>
    <div class="diaporama">
        <img class="diaporama__image" src="{{ asset('uploads/images/banniere event.jpg')}}" alt="Fond">
        <div class="diapo__event">
            <h1><pan class="bleu">PAGE CONTACT<pan></h1>
            <br>
            <p><pan class="orange"> SUR VOTRE SITE SPORTIN</pan></p>
            <br> 
            <p><pan class="orange"> Admin contributeur : Mathieu CHEVILLARD</pan></p>
            <p><pan class="orange"> Admin contributrice: Sophie LOREL</pan></p>
            <p><pan class="orange"> Admin contributeur: Yanis KERROUCHE</pan></p>
            <p><pan class="orange"> Admin contributeur: Bruno PLONQUET</pan></p>
            <br>
            <li><a class="bleu" href="#">SportIn@internet.com</a></li>
            <br>
        </div>
    </div>  
</section>
{% endblock %}

