{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>Page défis</h1>
{% endblock %}

{% block commentaire1 %}
<p>Formulaire de défis à venir</p>
{% endblock %}

{% block photo1 %}
<img src="{{ asset('images/photo1.jpg') }}" alt="photo1">
{% endblock %}