{% extends 'parent.html.twig' %}

{% block titre1 %}

<section>
    <div class="diaporama">
        <img class="diaporama__image" src="{{ asset('uploads/images/banniere event.jpg')}}" alt="Fond">
        <div class="diapo__event">
            <h1><pan class="bleu">FAQ<pan></h1>
            
            <li><a class="bleu" href="#">SportIn@internet.com</a></li>
            <br>
        </div>
    </div>  
</section>
{% endblock %}

{% block titre3 %}

{% endblock %}