{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>Accueil du site</h1>
{% endblock %}

{% block annonces %}
<h1>Concept de l'accueil du site</h1>
<p>12 exemples pour réussir le design de la page d’accueil de votre site web
La page d’accueil est l’une des pages les plus importantes de votre site web. C’est sur elle que la plupart des visiteurs de votre site se font leur première impression et leur ressenti sur votre entreprise et votre offre. C’est la vitrine de votre activité.</p>

<p>Une page d’accueil mal conçue, pas assez claire, pas assez lisible, peu attractive, qui met pas suffisamment en avant votre proposition de valeur vous fera à coup sûr perdre de nombreux clients potentiels.</p>

<p>Pour réussir le design de la page d’accueil de votre site web, nous avons sélectionné pour vous 12 exemples de qualité. Mais avant, rappelons rapidement les règles de base en matière de design / ergonomie à appliquer sur votre page d’accueil.</p>
{% endblock %}
